.jumbotron{
    color: red;
    background-color:white;
    text-align: center;
    ;
}

.container{
    background-color: rgb(92, 83, 83);
    color:white;
    }
    #datepicker{
        color:white;
    }