.jumbotron{
    color: magenta;
    background-color:white;
    text-align: center;
    ;
}

.container{
    background-color: purple;
    color:white;
    }
    #datepicker{
        color:white;
    }